.container {
    width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
}

.result__wrapper {
    padding-top: 60px;
    transition: .3s;
}

.input_result {
    width: 100%;
    position: relative;
    margin-bottom: 40px;
    box-shadow: 0 5px 5px rgba(244, 244, 244, 0.45);
}

.liked {
    position: absolute;
    right: 90px;
    top: 15px;
    color: rgb(204, 204, 204);
    cursor: pointer;
    transition: .3s;
}

.liked_true {
    color: red;
    transform: scale(1.1);
    position: absolute;
    right: 90px;
    top: 15px;
    cursor: pointer;
    transition: .3s;
}

.search_title {
    text-align: left;
}

.require__show {
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.104);
    gap: 20px;
    text-align: left;
    margin-bottom: 40px;
    cursor: pointer;
    transition: .3s;
}

.search_title_bold {
    font-weight: bold;
}

.require__show:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.304);
}

.flex {
    display: flex;
    flex-direction: row;
}

.wrapper_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.video_name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.chanel_name {
    font-size: .8rem;
    color: rgb(116, 116, 116);
    margin-bottom: 3px;
}

.count_views {
    font-size: .7rem;
    color: rgb(116, 116, 116);
}

.res_but:hover {
    background-color: #7ae06b;
}

.nav_layout {
    position: relative;
}

.icon_layout {
    position: absolute;
    color: #a2e698;
    cursor: pointer;
    transition: .3s;
}

.layout_grid {
    top: 8px;
    right: 0;
}

.layout_grid:hover {
    color: #7ae06b;
    transform: scale(1.2);
}

.layout_list {
    top: 8px;
    right: 30px;
}

.layout_list:hover {
    color: #7ae06b;
    transform: scale(1.2);
}